/* quicksand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/quicksand-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* quicksand-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/quicksand-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CSS variables for commonly used values */
:root {
  --color-primary-dark: #15243c;
  --color-primary-light: #ebf5ff;
  --color-secondary-dark: #3b64a5;
  --color-secondary-light: #ebf5ff;
  --color-accent: #f0b914;

  /* typography scale */
  /* 60px - 100px top and bottom 
   * Ryan's CodeStitch variables: 
   * https://codestitch.app/documentation
   */
  --header-font-size: clamp(2rem, 4vw, 3rem);
  --body-font-size: clamp(1rem, 2vw, 1.5rem);

  /* spacing system */
  /* (60px - 100px) top & bottom 16px left & right */
  --section-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --space-xs: clamp(0.5rem, 2vw, 1rem); /* 8px - 16px */
  --space-sm: clamp(1rem, 2vw, 1.5rem); /* 16px - 24px */
  --space-md: clamp(1.5rem, 2vw, 2rem); /* 24px - 32px */
  --space-lg: clamp(2rem, 5vw, 4rem); /* 32px - 64px */
  --space-xl: clamp(4rem, 2vw, 6rem); /* 64px - 96px */
  --max-width-container: clamp(62.5rem, 75vw, 80rem); /* 1000px - 1280px */
}

/* Global settings  */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Quicksand, Tahoma, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont;
  min-height: 100vh;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul.nav {
  list-style-type: none;
  padding: 0;
}

button {
  color: var(--color-primary-light);
  font-family: -apple-system, "Quicksand", Tahoma, sans-serif;
  font-size: var(--spacing-standard);
  font-weight: 700;
  padding: var(--space-xs) var(--space-md);
  background: var(--color-secondary);
  border: 3px solid var(--color-accent);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

a:focus,
button:focus {
  outline: 3px solid var(--color-secondary-dark);
  outline-offset: 3px;
}

/* Consider adding reduced motion support */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}
.responsive-image {
  max-width: 100%;
  height: auto;
}

/* Container settings */
.container {
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0 auto;
}

.header,
.footer,
.hero {
  background: var(--color-primary-dark);
  color: var(--color-primary-light);
}

.hero,
.quote,
.cta,
.footer {
  display: flex;
  justify-content: center;
}

/* Specific section styling */

/* header */
.header {
  padding: var(--space-sm) 0;
}

.header .logo {
  color: var(--color-primary-light);
  font-size: var(--header-font-size);
  font-weight: 700;
}

.header a {
  text-decoration: none;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

/* header & hero */
.header a,
.hero .text {
  font-size: 18px;
  color: var(--color-primary-light);
}

/* hero */

.hero .container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

.hero .heading h1 {
  font-size: 48px;
  padding: 0px;
}

.hero .content {
  width: 500px;
}

/* info */
.title {
  color: var(--color-primary-dark);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.item {
  max-width: 200px;
}

.item svg {
  color: var(--color-secondary);
}

.item .text {
  padding: 16px 0;
  text-align: center;
}

/* quote */
.quote {
  background: var(--color-primary-light);
}

.quote .text {
  color: var(--color-primary-dark);
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  padding: 60px 0;
}

.quote cite {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: right;
  padding: 10px 0;
}

/* cta */
.cta .container {
  color: var(--color-primary-light);
  background-color: var(--color-secondary-dark);
  border-radius: 8px;
  height: 150px;
  width: calc(100% + 128px); /* Account for wider blue box */
  margin: 100px 0;
  padding: 0 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta h2 {
  font-size: 2em;
  margin: 5px 0;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  min-height: 100px;
}
