---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* Customize color options */
$body-color: #284471;
$text-color: #15243C;
$link-color: #3B64A5;
$masthead-link-color: #15243C;
$border-color: #EBF5FF;

$primary-color: #15243C !default;
$success-color: #00A6A6 !default;
$warning-color: #F0B914 !default;
$danger-color: #D33F49 !default;
$info-color: #3B64A5 !default;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;

/* Headshot biography images */
.img-headshot {
    border-radius: 50%;
    float: right;
    margin: 15px;
  } 

.contact-bar {
  background-color: #EBF5FF;
  width: 100%;
}

[data-form="b3e8b54c-742a-11ee-955b-4f946d2b2bf0"].inline-container {
  max-width: 100% !important;
}

/* Center and widen content pages */
.page-centered {
  .page {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .page__inner-wrap {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


